.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  padding: 20px;
  background: rgb(56, 228, 47);
  color: #000;
}

.card > div {
  display: flex;
  gap: 15px;
}

.card img {
  cursor: pointer;
}

.badge {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  background-color: rgb(31, 223, 153);
  border-radius: 9999px;
}

.card-type-Human {
  background-color: rgb(56, 224, 47);
}

.card-type-God {
  background-color: rgb(211, 56, 39);
}
